main {
  width: 100%;
  max-width: 1300px;
}

main ::-webkit-scrollbar {
  width: 10px;
}

main ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

main ::-webkit-scrollbar-thumb {
  background: #888;
}

main ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main .flag {
  display: inline-flex;
  background-color: green;
  font-size: 0.8rem;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;

  justify-content: center;
  align-items: center;
}

#header {
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  gap: 2.5rem;
}

#header h1,
#header h2 {
  font-size: 2rem;
  line-height: 2rem;
  height: 2rem;
  margin: 0;
}

#header h2 {
  text-transform: uppercase;
}

#header > ::after {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background-color: black;

  position: relative;
  left: calc(100% + 1rem);
  top: -1.3rem;
}

#header input {
  height: 2.5rem;
  padding-left: 2rem;
  border: 1px solid gray;
  border-radius: 5px;

  background-image: url("../img/Home/icon-search.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: 5px center;

  transition: opacity 0.5s;
}

#header input:focus {
  opacity: 0.5;
}

#progress {
  margin-bottom: 3rem;
}

#progress p {
  margin: 0;
  font-size: 1.5rem;
}

#progress p > span {
    font-size: 2rem;
}

#progress > span {
    margin-right: 1rem;
}

#progress > div {
  width: 100%;
  height: 10px;
  background-color: black;
  margin: 0.5rem 0;
}

#results {
  max-width: unset;
  margin-bottom: 2rem;

  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.simple-list h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.simple-list .scroll-container {
  display: block;
  overflow-y: scroll;
  height: 820px;
}

.simple-list .scroll-container li {
  margin-right: 1rem;
  padding-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-list .scroll-container li + li {
  padding-top: 0.5rem;
  border-top: 1px solid lightgray;
}

.simple-list .scroll-container li > div:first-child {
  text-transform: uppercase;
  color: gray;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.simple-list .scroll-container li > div :first-child {
  max-width: 200px;
  color: black;
}

.simple-list .scroll-container li > div:last-child {
  font-size: 0.9rem;
}

.simple-list .scroll-container li > div:last-child :first-child {
  color: gray;
}

.simple-list .data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.simple-list .data span:first-child {
  width: 100%;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.simple-list .data div > :nth-child(2) {
  font-size: 0.8rem;
  color: gray;
  margin-right: 0.5rem;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.photo-list h2 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.photo-list > div {
  display: grid;
  gap: 1rem;
}

.photo-list .candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-list .candidate img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid gray;
}

.photo-list .candidate :nth-child(2) {
  font-size: 1.5rem;
  color: gray;
}

.photo-list .candidate :nth-child(2) span {
  font-size: 1rem;
}

.photo-list .candidate :nth-child(3) {
  font-size: 0.8rem;
  text-transform: uppercase;
  text-align: center;
}

.photo-list .candidate :nth-child(4),
.photo-list .candidate :nth-child(5) {
  font-size: 0.7rem;
}

.photo-list .candidate :nth-child(5) {
  color: gray;
}

.photo-list button {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}